<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>Nodejs Application Error</title>
    <style>
        body {
            margin: 0;
            padding: 30px;
            font: 12px/1.5 Helvetica, Arial, Verdana, sans-serif;
        }

        h1 {
            margin: 0;
            font-size: 48px;
            font-weight: normal;
            line-height: 48px;
        }

        strong {
            display: inline-block;
            width: 65px;
        }
    </style>
</head>

<body>
    <h1>Nodejs Application Error</h1>
    <p>The application could not run because of the following error:</p>
    <h2>Details</h2>
    <div><strong>Type:</strong> Error <%= error.status %></div>
    <div><strong>Message:</strong> <%= message %></div>
    <div><strong>File:</strong> <%= error.path %></div>
    <h2>Trace</h2>
    <pre><%= error.stack %></pre>
</body>

</html>